<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.managecourse.dao.CategoryMapper">

    <resultMap id="categoryMap" type="com.xuecheng.framework.domain.course.ext.CategoryNode">
        <id property="id" column="one_id"></id>
        <result property="name" column="one_name"></result>
        <result property="label" column="one_label"></result>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
            <id property="id" column="two_id"></id>
            <result property="name" column="two_name"></result>
            <result property="label" column="two_label"></result>
        </collection>
    </resultMap>

    <select id="selectList" resultMap="categoryMap">
        SELECT a.id one_id,a.`name` one_name,a.label one_label,b.id two_id,b.`name` two_name,b.label two_label
        FROM category a LEFT JOIN category b ON a.id = b.parentid
        WHERE a.parentid = '1'
    </select>
</mapper>