<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.managecourse.dao.CategoryMapper">
    <resultMap id="BaseTreeResultMap" type="com.xuecheng.framework.domain.course.ext.CategoryNode">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="label" column="label"></result>
        <collection column="id" property="children" select="getNextNodeTree"
                    ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
        </collection>
    </resultMap>

    <resultMap id="NextTreeResultMap" type="com.xuecheng.framework.domain.course.ext.CategoryNode">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="label" column="label"></result>
        <collection column="id" property="children" select="getNextNodeTree"
                    ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
        </collection>
    </resultMap>

    <select id="getNextNodeTree" resultMap="NextTreeResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM category
        WHERE parentid = #{id}
        ORDER BY orderby
    </select>

    <select id="selectList" resultMap="BaseTreeResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM category
        WHERE parentid = '0'
        ORDER BY orderby
    </select>

    <sql id="Base_Column_List">
     id,name,label
    </sql>
</mapper>